
body {
        font-family: "Vazir",sans-serif,;
      }
@font-face {
        font-family: 'Vazir', sans-serif;
        src: local('Vazir-Light'), url(./utilities/fonts/Vazir-Light.ttf) format('truetype');
}



        